USERNAME = "your_memes_account_username"
PASSWORD = "your_memes_account_password"
# SESSION_ID = "your_memes_session_id"
# TOTP_SECRET = "your_2fa_secret_key"

SOCCER_ACCOUNT_USERNAME = "your_soccer_account_username"
SOCCER_ACCOUNT_PASSWORD = "your_soccer_account_password"
# SOCCER_SESSION_ID = "your_soccer_session_id"
# SOCCER_TOTP_SECRET = "your_soccer_2fa_secret_key"

# Optional: proxy to bypass IP blacklisting
# PROXY = "http://user:pass@host:port"
